<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fe_funzo"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.activity.ModifyExamActivity"
            android:exported="false"
            android:label="@string/title_activity_modify_exam"
            android:theme="@style/Theme.Fe_funzo" />
        <activity
            android:name=".presentation.activity.SubjectDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_subject_details"
            android:theme="@style/Theme.Fe_funzo" />
        <activity
            android:name=".presentation.activity.ViewExamsActivity"
            android:exported="false"
            android:label="@string/title_activity_view_exams"
            android:theme="@style/Theme.Fe_funzo" />
        <activity
            android:name=".presentation.activity.CreateExamActivity"
            android:exported="false"
            android:label="@string/title_activity_create_exam"
            android:theme="@style/Theme.Fe_funzo" />
        <activity
            android:name=".presentation.activity.TeacherDashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_teacher_dashboard"
            android:theme="@style/Theme.Fe_funzo" />
        <activity
            android:name=".presentation.view.TeacherLandingPage"
            android:exported="true"
            android:label="@string/title_activity_teacher_landing_page"
            android:theme="@style/Theme.Fe_funzo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.view.AdminDashboard"
            android:exported="false"
            android:label="@string/title_activity_admin_dashboards"
            android:theme="@style/Theme.Fe_funzo" />
        <activity
            android:name=".presentation.view.UserProfileSettings"
            android:exported="false"
            android:label="@string/title_activity_user_profile_settings"
            android:theme="@style/Theme.Fe_funzo" />
        <activity
            android:name=".presentation.view.UserProfile"
            android:exported="false"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/Theme.Fe_funzo" />
        <activity
            android:name=".presentation.view.AdminProfilePage"
            android:exported="false"
            android:label="@string/title_activity_admin_profile_page"
            android:theme="@style/Theme.Fe_funzo" />
        <activity
            android:name=".presentation.view.SignIn"
            android:exported="false"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/Theme.Fe_funzo" />
        <activity
            android:name=".presentation.view.AdminLandingPage"
            android:exported="true"
            android:label="@string/title_activity_admin_landing_page"
            android:theme="@style/Theme.Fe_funzo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.view.Signup"
            android:exported="false"
            android:label="@string/title_activity_signup"
            android:theme="@style/Theme.Fe_funzo" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Fe_funzo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>